/* SeatLayoutNew.module.css */
.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.busLayout {
  display: flex;
  align-items: center;
  justify-content: center;
}

.seatColumnContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.seatColumn {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.seat {
  width: 40px; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
  margin: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.seat.available {
  background-color: #4caf50; /* Green */
}

.seat.processing {
  background-color: #ffeb3b; /* Yellow */
}

.seat.booked {
  background-color: #f44336; /* Red */
  cursor: not-allowed; /* Not clickable */
}

.seat.selected {
  background-color: #2196f3; /* Blue */
}

.error {
  color: red;
  text-align: center;
}