/* src/styles/SeatLayout.module.css */

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.busLayout {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  margin-bottom: 10px;
}

.spacer {
  width: 50px; /* Adjust the width as needed */
}

.seat {
  width: 40px; /* Adjust width as needed */
  height: 40px; /* Adjust height as needed */
  margin: 5px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.seat.available {
  background-color: #4caf50; /* Green */
}

.seat.processing {
  background-color: #ffeb3b; /* Yellow */
}

.seat.booked {
  background-color: #f44336; /* Red */
  cursor: not-allowed;
}

.backRow {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}